.material-symbols-outlined {
  line-height: 1.5;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.navbar-nav .nav-link.active {
  color: #23ff2e;
}
.nav-link {
  color: #006837;
}

.nav-link:hover {
  color: #23ff2e;
  transition: all 0.2s ease-in;
}
.navbar.navbar-expand-lg {
  margin-top: -20px;
  background-color: #000;
}
.navbar-brand {
  display: block;
}
.navbar-brand img {
  height: auto;
  width: 50px;
}
.right {
  display: grid;
  place-items: start;
  align-content: start;
  background-color: black;
  color: white;
  margin-bottom: 15%;
  padding: 5%;
}
.left {
  display: grid;
  place-items: end;
  align-content: end;
  margin-top: -10px;
  margin-bottom: 15%;
  padding: 5%;
}
.center {
  display: grid;
  place-items: center;
  align-content: center;
  margin-bottom: 15%;
  padding: 5%;
}
.hidden {
  opacity: 0;
  transition: all 1s;
}
.show {
  opacity: 1;
}
.imgs {
  border-radius: 10px;
  height: auto;
  width: 100%;
}
.titulo img {
  height: 30vw;
}
.titulo {
  font-size: 10vw;

  background-repeat: no-repeat;
  background-size: 50%;
  /* The image used */
  background-image: url("../IMG/jonathan-chng-OTDyDgPoJ_0-unsplash.jpg");

  /* Full height */
  height: 100%;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
  border-radius: 10px;
}
.paralla {
  /* The image used */
  background-image: url("../IMG/kevin-lehtla-tPJI_XIMDHE-unsplash.jpg");

  /* Full height */
  height: 100%;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
  border-radius: 10px;
}
.tit{
  color: white;
  background-color: black;
  font-size: 500%;
}

.tite{
  color: white;
  background-color: black;
}
.tito{
  font-size: 500%;
}
h1 img {
  height: auto;
  width: 50%;
}
.centro {
  display: grid;
  place-items: center;

}
.centro img {
  width: 60%;
}
.parallax{
  background-color: black;
  height: 100%;
}
.parallax img{
  align-self: center;
  position: relative;
  right: -35%;
  height: 30%;
  width: 30%;
  margin-top: 5%;
}
/* #DECO{
  background-color: #80c580;
}
#Plastico{
  background-color: #bfffc5;
} */
tr{
  border: 1px solid  #000;
}