.material-symbols-outlined {
  line-height: 1.5;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.navbar-nav .nav-link.active {
  color: #23ff2e;
}
.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  color: #8cc63f;
  transition: all 0.2s ease-in;
}
.navbar.navbar-expand-lg {
  background-color: #000000;
  font-size: small;
}
.navbar-brand {
  display: block;
}
.navbar-brand img {
  height: auto;
  width: 10%;
}
.right {
  display: grid;
  place-items: start;
  align-content: start;
  background-color: black;
  color: white;
  margin-bottom: 15%;
  padding: 5%;
}
.left {
  display: grid;
  place-items: end;
  align-content: end;
  margin-top: -10px;
  margin-bottom: 15%;
  padding: 5%;
}
.center {
  display: grid;
  place-items: center;
  align-content: center;
  margin-bottom: 15%;
  padding: 5%;
}
.hidden {
  opacity: 0;
  transition: all 1s;
}
.showw {
  opacity: 1;
}
.imgs {
  border-radius: 10px;
  height: auto;
  width: 80%;
}
.titulo img {
  height: 30vw;
}
.titulo {
  font-size: 10vw;

  background-repeat: no-repeat;
  background-size: 50%;
  /* The image used */
  background-image: url("../IMG/jonathan-chng-OTDyDgPoJ_0-unsplash.jpg");

  /* Full height */
  height: 100%;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
  border-radius: 10px;
}
.paralla {
  /* The image used */
  background-image: url("../IMG/kevin-lehtla-tPJI_XIMDHE-unsplash.jpg");

  /* Full height */
  height: 100%;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
  border-radius: 10px;
}
.tit{
  color: white;
  background-color: black;
  font-size: 500%;
}

.tite{
  color: white;
  background-color: black;
  font-size: 500%;
}
.tito{
  font-size: 500%;
}
h1 img {
  height: auto;
  width: 50%;
}
.centro {
  display: grid;
  place-items: center;

}
.centro img {
  width: 60%;
}
.parallax{
  background-color: black;
  height: 100%;
}
.parallax img{
  align-self: center;
  position: relative;
  right: -35%;
  height: 30%;
  width: 30%;
  margin-top: 7%;
}
/* #DECO{
  background-color: #80c580;
}
#Plastico{
  background-color: #bfffc5;
} */
tr{
  border: 1px solid  #000;
}
@media screen and (max-width: 800px) {
  .tit{
    font-size: 300%;
  }
  .tito{
    font-size: 300%;
  }
  .tite{
    font-size: 300%;
  }
  .mama img{
    width: 15%;
    margin-left: 10px;
  }
  .mama{
    width: 120%;
    background-color: #000;
    margin-left: -15px;
  }
}
.mama{
  z-index: 400;
  top: 0;
}
.uloi{
  margin-left: 37%;
}
.qr{
  width: 400px;
}