@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

body {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{ 
    background-color: #92d696;
    border-radius: 5px;
    border: solid #e1ffcd 1px;
    margin-bottom: 5px;
    transition: 0.5s;
}
nav:hover{ 
    color: white;
    box-shadow: 0 5px 15px #23ff2e;
}
.navbar-brand{
    font-size: 1.6rem;
    transition: 0.5s;
}
.navbar-brand:hover{
    color: #aeffb2;
}
#contenedoradmin {
    border-radius: 5px ;
    margin-left: 75px;
    margin-right: 75px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    color: #000000;

}
.footericon {
    font-size: 30px;
    color: #2cff19;
    transition: all 0.5s ease-in;
}
.footericon:hover{
    transition: all 0.5s ease-out;
    color: #007200;
    
}
footer {
    padding: 20px;
    width: 100%;
    height: 100px;
    background-color: black;
    color: blanchedalmond;
    clear: both;
}
h1{
    font-size: 4rem;
    transition: 0.5s;
    background-color: #000000;
    color: #ffffff;
}
img{
    height: 30%;
    width: 30%;
}
.parallax img{
    align-self: center;
    position: relative;
    right: -35%
}
.parallax {
    /* The image used */
    display: flex;
    align-items: center;
    background-color: #000000;
  
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
  }

.hidden{
    opacity: 0;
    transition: all 1s;
}
.show{
    opacity: 1;
}
header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 100;
    bottom: 20px;
}
